.data-text {
    font-size: 16px;
    line-height: 22px;
    color: #818181;
    width: 132px;
}

.title-text {
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #1E0606;
    max-width: 380px;
}

.blog-img {
    width: 380px;
    height: 220px;
}

.blog-text {
    max-width: 380px;
    height: auto;
}

.blog-info-one {
    display: flex;
    justify-content: space-between;
}

.blog-info-two {
    display: flex;
    justify-content: space-between;
}