* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

/* HEADER */

.header {
    display: flex;
    align-items: center;
}

.header-menu {
    margin: 66px auto 0 60px;
}

.header-list {
    display: flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #1E0606;
}


.header-menu a {
    color: #1E0606;
    margin-right: 40px;
}

.header-search {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #1E0606;
    padding: 24px;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1180px;
    margin: auto;
}

.undotted {
    list-style-type: none;
    padding: 0;
}

/* BUTTON */

.button {
    display: inline-block;
    background: #000000;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    display: block;
    width: 161px;
    text-align: center;
    padding: 9px 22px;
    border: none;
    cursor: pointer;
}

.button-secondary {
    display: inline-block;
    width: 161px;
    height: 40px;
    left: 243px;
    top: 474px;
    background: #000000;
    margin: 20px auto 89px 0px;

}

/* FOOTER */

.footer {
    background: #434343;
}