/* BANNER */

.banner {
    background: #EEE4DB;
    background-size: contain;
    height: 372px;
    font-weight: 636px;
    margin-top: 129px;
}

.monstre {
    background: url(../images/monstre.png) no-repeat;
    position: absolute;
    width: 635.49px;
    height: 461px;
    left: 555px;
    top: 142px;
    padding: 142px 39px 0px;
}


.banner-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
    color: #1E0606;
    padding: 89px 740px 195px 133px;
}

.banner-text {
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #1E0606;
    padding: 20px 90px 50px 100px;
}


.banner-footer container {
    width: 1180px;

}

.banner-footer .text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    height: 39px;
    background: #C29974;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* CATEGORY PRODUCTS */

.services {
    font-family: 'Montserrat';
    text-transform: uppercase p none;
    margin-top: 90px;
}

.services-title {
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    color: #1E0606;
}

.services-list {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
}

.services-item {
    background: url('../images/dress.png') no-repeat #DBE4DB;
    width: 280px;
    height: 270px;

}

.apparel-kids {
    background: url('../images/dress.png') no-repeat #DBE4DB;
    width: 280px;
    height: 270px;

}

.services p {
    font-family: 'Open Sans', sans-serif;
    width: 580px;
    height: 44px;
    padding-top: 30px;
    margin: 0px 210px;
    padding-bottom: 90px;

}

/* SECTION DELIVERY */

.header-delivery {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
}

.delivery-button {
    font-family: 'Crimson Text';
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    color: #1E0606;
    background: rgba(112, 187, 220, 0.2);
}

.delivery-button-secondary {
    font-family: 'Crimson Text';
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    color: #1E0606;
}

/* LOGO */

.awards-logo {
    display: flex;
    width: 1180px;
    justify-content: space-between;
}

/* SEACTION 3 */

.header-third {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
}

.about-us {
    font-family: 'Crimson Text';
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    color: #1E0606;
}