ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before {
    color: black;
    border: 4px solid #1E0606;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    width: 8px;
    height: 12px;
}

ul.breadcrumb li a {
    color: #1E0606;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}