/* OPTIONS */

.options {
    display: flex;
    background: #7D97DA33;
    width: 100%;
    padding: 44px 0px 42px;
}

.options-name {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}

.options-scroll .options-name {
    padding: 0px;
    margin: 0px;
}

.radio-label-amount {
    position: relative;
    cursor: pointer;
}

.radio-label-amount::before,
.radio-label-amount::after {
    content: '';
    position: absolute;
    display: block;
}

.radio-label-amount::before {
    width: 15px;
    height: 15px;
    top: 0px;
    left: 0px;
    border: none;
    border-radius: 3px;
}


/* КАРТОЧКИ ТОВАРА */

.product {
    margin-top: 60px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-card {
    font-family: 'Montserrat', 'Gill Sans', sans-serif;
    display: flex;
    display: inline-block;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 44px;
}

.product-card p {
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #1E0606;
    margin-top: 30px;
}


.product-card span {
    font-weight: 700;
}

.product li {
    position: relative;
}

.product li a {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 207px;
    height: 207px;
}

.info-hover {
    display: flex;
    position: absolute;
    background-color: rgba(229, 234, 248, .9);
    top: 89px;
    left: 87px;
    width: 207px;
    height: 207px;
    overflow: hidden;
    text-transform: uppercase;
    opacity: 0;
}

.product-list .product-card .info-hover a {
    display: flex;
    font-family: 'Montserrat', 'Gill Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #1E0606;
}

.product li:hover .info-hover {
    display: block;
    opacity: 1;

}

.info-hover:active {
    display: flex;
    position: absolute;
    background-color: rgba(229, 234, 248, .67);
    top: 89px;
    left: 87px;
    width: 207px;
    height: 207px;
    overflow: hidden;
    text-transform: uppercase;
    opacity: 0;
}

